.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.115000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-8.888534px;}
._4{margin-left:-7.140001px;}
._0{margin-left:-3.804800px;}
._1{margin-left:-1.836800px;}
._3{width:4.760000px;}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:131.200000px;}
.fs1{font-size:158.666680px;}
.y0{bottom:0.000000px;}
.y29{bottom:59.000000px;}
.y28{bottom:107.000000px;}
.y10{bottom:111.000000px;}
.y27{bottom:155.000000px;}
.yf{bottom:159.000000px;}
.y26{bottom:203.000000px;}
.ye{bottom:207.000000px;}
.y1b{bottom:244.000000px;}
.y25{bottom:251.000000px;}
.yd{bottom:255.000000px;}
.y3{bottom:281.086400px;}
.y1a{bottom:292.000000px;}
.y24{bottom:313.000000px;}
.y2{bottom:322.086400px;}
.y19{bottom:353.000000px;}
.y23{bottom:361.000000px;}
.y1{bottom:363.086400px;}
.yc{bottom:378.000000px;}
.y18{bottom:401.000000px;}
.yb{bottom:426.000000px;}
.y17{bottom:449.000000px;}
.ya{bottom:474.000000px;}
.y22{bottom:483.000000px;}
.y9{bottom:522.000000px;}
.y21{bottom:545.000000px;}
.y16{bottom:572.000000px;}
.y20{bottom:606.000000px;}
.y15{bottom:620.000000px;}
.y8{bottom:645.000000px;}
.y1f{bottom:667.000000px;}
.y14{bottom:668.000000px;}
.y7{bottom:693.000000px;}
.y1e{bottom:715.000000px;}
.y13{bottom:716.000000px;}
.y6{bottom:741.000000px;}
.y12{bottom:764.000000px;}
.y5{bottom:789.000000px;}
.y11{bottom:812.000000px;}
.y4{bottom:837.000000px;}
.y1d{bottom:838.000000px;}
.y1c{bottom:886.000000px;}
.h1{height:94.988800px;}
.h2{height:139.944012px;}
.h0{height:1080.000000px;}
.w0{width:1920.000000px;}
.x0{left:0.000000px;}
.x1{left:931.677000px;}
.x3{left:946.076200px;}
.x2{left:952.472200px;}
.x6{left:1003.000000px;}
.x4{left:1039.000000px;}
.x5{left:1261.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-11.851379pt;}
._4{margin-left:-9.520001pt;}
._0{margin-left:-5.073067pt;}
._1{margin-left:-2.449067pt;}
._3{width:6.346667pt;}
.fs0{font-size:174.933333pt;}
.fs1{font-size:211.555573pt;}
.y0{bottom:0.000000pt;}
.y29{bottom:78.666667pt;}
.y28{bottom:142.666667pt;}
.y10{bottom:148.000000pt;}
.y27{bottom:206.666667pt;}
.yf{bottom:212.000000pt;}
.y26{bottom:270.666667pt;}
.ye{bottom:276.000000pt;}
.y1b{bottom:325.333333pt;}
.y25{bottom:334.666667pt;}
.yd{bottom:340.000000pt;}
.y3{bottom:374.781867pt;}
.y1a{bottom:389.333333pt;}
.y24{bottom:417.333333pt;}
.y2{bottom:429.448533pt;}
.y19{bottom:470.666667pt;}
.y23{bottom:481.333333pt;}
.y1{bottom:484.115200pt;}
.yc{bottom:504.000000pt;}
.y18{bottom:534.666667pt;}
.yb{bottom:568.000000pt;}
.y17{bottom:598.666667pt;}
.ya{bottom:632.000000pt;}
.y22{bottom:644.000000pt;}
.y9{bottom:696.000000pt;}
.y21{bottom:726.666667pt;}
.y16{bottom:762.666667pt;}
.y20{bottom:808.000000pt;}
.y15{bottom:826.666667pt;}
.y8{bottom:860.000000pt;}
.y1f{bottom:889.333333pt;}
.y14{bottom:890.666667pt;}
.y7{bottom:924.000000pt;}
.y1e{bottom:953.333333pt;}
.y13{bottom:954.666667pt;}
.y6{bottom:988.000000pt;}
.y12{bottom:1018.666667pt;}
.y5{bottom:1052.000000pt;}
.y11{bottom:1082.666667pt;}
.y4{bottom:1116.000000pt;}
.y1d{bottom:1117.333333pt;}
.y1c{bottom:1181.333333pt;}
.h1{height:126.651733pt;}
.h2{height:186.592016pt;}
.h0{height:1440.000000pt;}
.w0{width:2560.000000pt;}
.x0{left:0.000000pt;}
.x1{left:1242.236000pt;}
.x3{left:1261.434933pt;}
.x2{left:1269.962933pt;}
.x6{left:1337.333333pt;}
.x4{left:1385.333333pt;}
.x5{left:1681.333333pt;}
}
